@tailwind base;
@tailwind components;
@tailwind utilities;

/* .big-box {
  box-shadow: 10 10 50 50 50 black;
} */
/* .box-scroll::-webkit-scrollbar {
  display: none;
} */
.size {
  background-size: 55%;
}
.svg_icons {
  transform: scale(1.1);
}
.cross {
  transform: rotate(40deg);
}
.sentStyle {
  background: #dcf8c6;
  max-width: 60%;
  margin-left: auto;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  display: flex;
  border-radius: 6px;
  word-break: break-word;
}
.receivedStyle {
  background: #ffffff;
  max-width: 60%;
  margin-right: auto;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  display: flex;
  border-radius: 6px;
  word-break: break-word;
}
.time {
  word-break: keep-all;
}
